<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<EspPortName>COM4</EspPortName>
	<PiPortName></PiPortName>
	<PiMapGpio4And5ToDtrAndRtsEnable>True</PiMapGpio4And5ToDtrAndRtsEnable>
	<BaudRateSubstitutions enableForEsp="True" enableForPi="True">
		<Substitution use="115200" for="115384" />
		<Substitution use="57600" for="57569" />
		<Substitution use="38400" for="38406" />
		<Substitution use="19200" for="19203" />
		<Substitution use="9600" for="9598" />
		<Substitution use="230400" for="230769" />
		<Substitution use="460800" for="457627" />
		<Substitution use="576000" for="574468" />
		<Substitution use="921600" for="931034" />
		<Substitution use="1152000" for="1173913" />
		<Substitution use="2000000" for="1928571" />
	</BaudRateSubstitutions>
</Settings>

