<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Syntax" value="dotnetattributes" /><!--sjasmplus,zeus,dotnetattributes -->
    <add key="OutputFile" value=".\Properties\AssemblyInfoExtra.cs" />
	<add key="AssemblyCopyright" value="Copyright © 2019-[yyyy] Robin Verhagen-Guest" />
	<add key="AssemblyVersion" value="1.7.0.0" />
  </appSettings>
</configuration>